/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.main-content{
  padding: 0px 50px 0px 50px;

}

.ffh{
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav {
  float: none;
  text-align: center;
}
.navbar-nav li {
  float: none;
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
}

.link:hover{
  background: none !important;
}

.out-button{
  float: right;
  margin-top: 10px;
}

.nav-button{
  text-align: center;
}

.admin-container{
  background-color: #666666;
  border-bottom: 1px solid dodgerblue;
}

.top-div{
  display: block;
  background: image-url('background2.jpeg') no-repeat;
  min-height: 600px;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 40pt;
  margin-top: -20px;
  padding-top: 50px;
  margin-bottom: 20px;
}

.circle{
  display: block;
  margin: auto;
  border-radius: 50%;
  background-color: white;
  height: 250px;
  width: 250px;
  padding-top:55px;
  box-shadow: 0 8px 8px rgba(50, 50, 50, 0.5);
}
.circle:hover{
  box-shadow: 0 6px 8px rgba(50, 50, 50, 0.5);
  background-color: #E4F1FE;
}

.top-text{
  margin-top: 30px;
}

.text-center{
  margin-top: 25px;
  margin-bottom: 25px;
}

footer{
  display: block;
  height: 100px;
  margin-top: 50px;
  padding-top: 40px!important;
  text-align: center;
}


